body {
    margin: 0;
    font-family: var(--font-montserrat), sans-serif;
    line-height: 1.6;
    padding: 0;
}

:root {
    
    --font-montserrat: Montserrat;
    --font-cherish: Cherish;

    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 22px;
    --font-size-xxl: 30px;
    --font-size-title: 36px;
    --font-size-hero: 48px;

    --color-primary: #ACFADF; 
    --color-secondary: #172161; 
    --color-accent: #7F7956; 
    --color-background: #FFF8CE; 
    --color-text-light: #FFF; 
    
    --space-sm: 10px;
    --space-md: 20px;
    --space-lg: 40px;

    --radius-sm: 5px;
    --radius-lg: 15px;

    --max-width: 1200px;
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--space-md);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat);
    color: var(--color-secondary);
}

p {
    font-size: var(--font-size-base);
    color: var(--color-secondary);
}

.cta-button {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    padding: var(--space-sm) var(--space-lg);
    border-radius: var(--radius-sm);
    text-decoration: none;
}

.cta-button:hover {
    background-color: var(--color-accent);
}
