* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-montserrat);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-montserrat), sans-serif;
    line-height: 1.6;
    color: var(--color-secondary);
    background-color: var(--color-background);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 var(--space-md);
}

header {
    background-color: var(--color-primary);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--color-accent);
    font-family: var(--font-cherish);
}

.header-date {
    position: relative;
    line-height: 100%;
}

.header-title {
    position: relative;
    line-height: 100%;
    font-family: var(--font-montserrat);
    color: var(--color-midnightblue);
    white-space: nowrap;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links li a {
    color: var(--color-secondary);
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover, .nav-links li a.active {
    color: var(--color-accent);
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.page {
    padding: 6rem 0 4rem;
}

.page.active {
    display: block;
}

.hero {
    /* background-image: url('../images/hero-background.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-secondary);
    text-align: center;
    padding: 0;
    height: 100vh;
    position: relative;
}

.hero h1 {
    font-size: var(--font-size-hero);
    margin-top: 5%;
    margin-bottom: 1rem;
    font-family: var(--font-cherish);
    position: relative;
    line-height: 100%;
}

.background-image {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    z-index: 1;
    transform: translate(-50%, -50%);
}

.hero .container {
    position: relative;
    z-index: 2; 
}

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: var(--font-size-lg);
    transition: background-color 0.3s ease;
    margin-top: 40%;
    z-index: 10;
}

.cta-button:hover {
    background-color: var(--color-accent-dark);
}

footer {
    background-color: #7f7956; /* Warna latar belakang sesuai gambar */
    color: #172161; /* Warna teks biru tua sesuai gambar */
    padding: 2rem 0;
    font-family: var(--font-montserrat);
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: end;
}

.footer-locations {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.footer-location {
    width: 30%;
}

.footer-location h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-location p {
    margin: 0;
    font-size: 1rem;
}

.footer-connect {
    text-align: right;
    width: 30%;
    color: #172161;
}

.footer-connect h3 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.footer-connect ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.footer-connect ul li {
    display: inline-block;
    margin-right: 1rem;
}

.footer-connect ul li a {
    color: #e8ffce; /* Warna ikon media sosial sesuai gambar */
    font-size: 1.5rem;
}

.footer-connect p {
    font-size: 0.9rem;
    color: #172161;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
    color: #172161;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
}

.product-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
}

.product-card:hover {
    transform: scale(1.05);
}

.buy-button {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.buy-button:hover {
    background-color: var(--color-secondary);
}

#about {
    background-color: var(--color-background);
    padding: 4rem 0;
}

#about h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 2rem;
    color: var(--color-secondary);
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.about-content img {
    width: calc(25% - 1rem);
    margin-bottom: 1rem;
    border-radius: var(--radius-lg);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text {
    width: 100%;
    margin-top: 2rem;
}

.about-text p {
    margin-bottom: 1rem;
    text-align: justify;
}

.cart {
    margin-left: 20px;
    position: relative;
}

.cart a {
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

.cart-count {
    position: absolute;
    top: -16px;
    right: -2px;
    background-color: var(--color-accent);
    color: #fff;
    border-radius: 50%;
    padding: 0.3rem;
    font-size: 0.75rem;
    width: 20px;
    height: 20px;
    text-align: center;
}

.cart-modal {
    position: fixed;
    top: 20%;
    right: 10%;
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 1000;
}

.cart-modal.active {
    display: block;
}

.checkout-button {
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.checkout-button:hover {
    background-color: var(--color-accent-dark);
}

/* Bagian Fitur */
.features {
    margin-top: 10px;
    margin-bottom: 1opx;
    background-image: url('/2/public/images/bg\ bawah\ cat.png');
    background-color: var(--color-background);
    padding: 6rem 0;
}

.features .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feature {
    flex-basis: 30%;
    text-align: center;
    padding: 2rem;
    background-color: var(--color-primary);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.feature i {
    font-size: 3rem;
    color: var(--color-accent);
    margin-bottom: 1rem;
}

.feature h3 {
    margin-bottom: 1rem;
}

.contact-button {
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: var(--color-accent);
    color: #fff;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: var(--font-size-lg);
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
}

.contact-button:hover {
    background-color: #172161;
    transform: scale(1.05);
}

.container h2 {
    font-size: var(--font-size-xl); /* Ukuran font yang lebih besar */
    color: var(--color-secondary); /* Warna teks */
    text-align: center; /* Pusatkan teks */
    margin-bottom: 2rem; /* Tambahkan margin bawah */
    font-family: var(--font-montserrat); /* Gunakan font Montserrat */
    font-weight: bold; /* Tebalkan teks */
}

@media (max-width: 1024px) {
    body {
        font-size: var(--font-size-lg);
    }

    .nav-links {
        display: none;
    }

    .menu-toggle {
        display: block;
        color: var(--color-secondary);
    }

    .nav-links.show {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-primary);
        position: absolute;
        top: 50px;
        width: 100%;
    }

    .hero h1 {
        font-size: var(--font-size-title);
    }

    .background-image {
        max-width: 250px; /* Sesuaikan ukuran untuk tablet */
    }

    .cta-button {
        padding: 0.6rem 1.2rem; /* Sesuaikan padding untuk tablet */
        font-size: var(--font-size-md); /* Sesuaikan ukuran font untuk tablet */
        margin-top: 350px;
    }
}

@media (max-width: 768px) {
    body {
        font-size: var(--font-size-base);
    }

    .hero h1 {
        font-size: var(--font-size-xl);
    }

    .background-image {
        max-width: 200px; /* Sesuaikan ukuran untuk ponsel */
    }

    .cta-button {
        padding: var(--space-sm) var(--space-md);
        margin-top: 400px;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-locations {
        flex-direction: column;
        text-align: center;
    }

    .footer-location {
        width: 100%;
        margin-bottom: 2rem;
    }

    .footer-location h3 {
        font-size: 1.1rem;
    }

    .footer-location p {
        font-size: 1rem;
    }

    .about-content img {
        width: calc(50% - 0.5rem);
    }

    .feature {
        flex-basis: 45%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .hero h1 {
        font-size: 24px;
    }

    .background-image {
        max-width: 150px; /* Sesuaikan ukuran untuk layar yang lebih kecil */
    }

    .cta-button {
        padding: var(--space-sm);
    }
    .footer-container {
        padding: 0 1.2rem;
    }

    .footer-locations {
        flex-direction: column;
        text-align: center;
    }

    .footer-location {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .footer-location h3 {
        font-size: 1rem;
    }

    .footer-location p {
        font-size: 0.9rem;
    }

    .about-content img {
        width: 100%;
    }

    .feature {
        flex-basis: 100%;
    }
}

